.backoffice-screen {
    display: grid;
    grid-template: 4em 1fr / 10em 1fr;
    height: 100vh;
}

.backoffice-header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 1em;
    align-items: center;
    border-bottom: 1px gray solid;
    padding-left: 1em;
    padding-right: 1em;
}

.backoffice-header .authentication {
    display: flex;
    align-items: center;
    justify-self: end;
}

h1 {
    margin: 0;
    padding: 0;
}

.backoffice-header button {
    width: fit-content;
}

nav {
    display: flex;
    flex-direction: column;
    box-shadow: lightgray 5px 0 20px;
}

nav a {
    padding: 0.5em 0.5em 0.5em 1em;
    text-decoration: none;
    color: black;
    border-bottom: gray 1px solid;
}

nav a.active {
    background: var(--SECONDARY_COLOR);
    color: white;
}

main {
    overflow: auto;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

input, textarea, select {
    padding: 0.2em;
    font-size: 1em;
}

button {
    background: var(--SECONDARY_COLOR);
    border-radius: 0.2em;
    border: grey;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    color: white;
    margin: 0.5em;
}

button:active {
    background: #33578d;
}

button:disabled, button[value|="delete"]:disabled {
    background: #5f6267;
}

button[value|="delete"] {
    background: #ff0700;
}

button[value|="delete"]:active {
    background: #7c0300;
}
