.beers-screen {
    display: grid;
    grid-template: 1fr / 10em 1fr;
    height: 100%;
}

.beers-content {
    padding: 1em;
    overflow: auto;
}

.beer-form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    height: 100%;
    gap: 1em;
}

.preview {
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.actions {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

button {
    width: calc(100% - 1em);
}
