.beer-screen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.beer-modal {
    width: 50vw;
    height: 50vh;
    padding: 1em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1em;
    align-items: center;
}

.beer-modal article {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    backdrop-filter: blur(7px);
    padding: 1em;
}
