:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;

  --TEXT_COLOR: #14312E;
  --PRIMARY_COLOR: #EFE7DA;
  --PRIMARY_NAV_COLOR: #e8dbc7;
  --PRIMARY_OPACITY_COLOR: #e8dbc79d;
  --SECONDARY_COLOR: #A4CEC2;
  --TERTIARY_COLOR: #F18513;
  --DANGER_COLOR: #f13813;

  background-color: var(--PRIMARY_COLOR);
  color: var(--TEXT_COLOR);
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

* {
  box-sizing: border-box;
}

.form-error {
  color: var(--DANGER_COLOR);
}
