/* 
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
}

nav {
    background-color: var(--PRIMARY_NAV_COLOR);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 2em;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--TEXT_COLOR) ;
    font-size: 0.7em;
    text-decoration: none;
}

#logo {
    width: 80%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

main h1 {
    position: absolute;
    bottom: 170px;
    background-color: var(--PRIMARY_OPACITY_COLOR);
    margin-left: 1em;
    padding: 0.3em;
}

main #cover {
    height: calc(100vh - 170px);
    width: 100%;
    background: url("/images/cover.jpg");
    background-size: cover;
}

main #blog {
    background-color: var(--SECONDARY_COLOR);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 170px;
    position: sticky;
    top: 0;
}

main h1, h2, h3, h4 {
    font-size: 3em;
}

main #blog a {
    background-color: var(--TERTIARY_COLOR);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 50px 0;
    text-decoration: none;
    font-size: 3em;
}

main #beers {
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

main #beers article {
    height: max-content;
}

main #engagements h3, main #contact h3 {
    text-align: center;
}

main #engagements p, main #contact p {
    padding-left: 50px;
}

main #carte {
    width: 30%;
    margin: 50px;
}

.sub-nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub-nav-container img {
    height: 5.5em;
}

.community {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.community a img {
    height: 1.5em;
}
