form {
    box-shadow: grey 5px 5px 20px;
    width: 30vw;
    padding: 1em;
    border-radius: 1em;
    margin: 10vh auto auto;
}

fieldset {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    gap: 1em;
    align-items: center;
    border: none;
    margin: 0 0 1em;
    padding: 0;
}

h2 {
    text-align: center;
}

button {
    background: var(--SECONDARY_COLOR);
    border-radius: 0.2em;
    border: grey;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    width: 100%;
    color: white;
}

button:active {
    background: #33578d;
}

button:disabled {
    background: #5f6267;
}

input {
    padding: 0.2em;
    font-size: 1em;
    width: 100%;
}

.form-error {
    color: orangered;
    text-align: center;
}
