.beer h4 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beer article {
    display: grid;
    column-gap: 40px;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
        "title photo"
        "description photo"
        "description formats";
    text-align: end;
}

.beer:nth-child(even) article {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "photo title"
        "photo description"
        "formats description";
    text-align: start;
}